<div clfss="container">
  <div class="container-content">
    <div class="container-header">
      <h1>Your almost done!</h1>
      <h3>Please make sure your informations are correct.</h3>
    </div>
    <div class="container-text">
      <p><strong><%= @car.brand %></strong></p>
      <p>Price: <%= @car.price %>€</p>
      <p><strong>From: </strong> <%= @booking.starts_at %><strong>   To: </strong><%= @booking.ends_at %></p>
      <p>Owner: <%= @car.user_as_owner.email %></p>
      <p>Paymentmethod: Mastercard</p>
      <button class="btn btn-primary"><%= link_to "Cancel booking", booking_path(@booking), method: :delete  %></button>
      <p> Button missing for Confirm</p>
    </div>
  </div>
</div>
