<div>
 <div>
   <div class="banner_index" style="background-image: linear-gradient(-150deg, rgba(0,101,168,0.6) 0%, rgba(0,0,0,0) 1%), url('<%= image_path "car3.jpg" %>'); background-position:  58% 60%">
 </div>



<% @cars.each do |car| %>
   <div class="outer_box">
     <div class="flexbox">
       <div class="grid">
         <div class="image"><p><img class="image" src="https://images.unsplash.com/photo-1525609004556-c46c7d6cf023?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=70d09974c4be252b9d20274ef0122ce9&auto=format&fit=crop&w=700&q=60" alt=""></p>
         </div>
         <div class="information">
           <div class="price_brand">
             <h4 class="cars_brand classic_font"><b> <%= link_to car.brand, car_path(car) %></b></h4>
             <h4 class="classic_font"><b><%= car.price %> €</b></h4>
           </div>
           <p class="cars_description classic_font"style="text-align: center;"><%= %></p>
           <div class="symbols_and_buttom">
             <p class="buttom_information"><%= link_to "Book", cars_path, id: "book_buttom",class: "btn btn-treehouse" %></p>
             <div class="symbols">
               <p class="fair_fuel"><i class="fas fa-gas-pump "></i>Fair refuel</p>
               <p class="insurance"><i class="fas fa-check"></i>Good insurance</p>
             </div>
           </div>
         </div>
       </div>
     </div>
   </div>
<% end %>
