<br>
<br>
<br>
<div class="container">
 <%if flash[:notice] %>
   <div class="form__notice">
     <p><%= flash[:notice] %></p>
   </div>
  <% end %>
   <div class="outer_grid_container">
     <div class="grid_container">
       <div class="main_container">
          <div class="container_left">
          </div>
            <div class="container_right_top1 classic_font">
              <h4><strong><%= @car.brand %></strong></h4>
            </div>
              <div class="container_right_top2 classic_font">
                <p><strong><%= @car.price %> € </strong></p>
                <p id="des"><%=@car.description%></p>
              </div>
                <div class="container_right_bottom">
                  <div class="symbols_and_buttom" id="symbole">
                      <p class="fair_fuel"><i class="fas fa-gas-pump "></i>Fair refuel</p>
                      <p class="insurance"><i class="fas fa-check"></i>Good insurance</p>
                  </div>

                  <div class="form-wrapper" >
                   <!--   <% if flash[:alert] %>
                     <div class="form__alert">
                     <p>Booking not saved...</p>
                     <p><%= flash[:alert] %></p>
                     </div> -->
                     <!--  <% end %> -->
                    <%= simple_form_for [@car, @booking] do |f| %>
                    <div class="form-group" id="date_form">
                       <%= f.input :starts_at, as: :date, html5: true %>
                       <%= f.input :ends_at, as: :date, html5: true %>
                      <%= f.submit class: 'btn btn-treehouse', id: "book_buttom" %>
                   <% end %>
                    </div>
                  </div>
              </div>
          </div>
    </div>
</div>



